---
import { Image } from "astro:assets";
import hero from "@assets/logo/logo-89007.png";
---

<section class="w-full bg-89007">
  <div class="max-w-xl m-auto lg:grid lg:grid-cols-2 gap-4 lg:max-w-7xl">
    <!-- Texto -->
    <article
      class="w-full flex justify-center flex-col gap-4 p-8 items-center md:items-start lg:items-start lg:pt-16 lg:pb-16"
    >
      <p
        class="leading-[1.6] text-center text-white mb-8 text-2xl md:text-left md:text-3xl lg:text-[2em] lg:text-left"
      >
        En la <span class="font-bold">Instituci처n Educativa N째 89007</span>, tu
        hijo desarrolla las <span class="font-extrabold">herramientas</span> para
        <span class="font-bold">transformar su mundo</span>
      </p>
      <a
        href="#formulario"
        class="bg-white shadow-xl p-4 px-6 text-lg font-bold rounded-4xl w-max text-[#0069aa] md:text-xl lg:text-xl"
      >
        Solicita informaci처n
      </a>
    </article>

    <!-- Imagen con animaci처n -->
    <figure class="grid p-8 items-center place-content-center">
      <Image
        class="w-full max-w-[10rem] sm:max-w-[13rem] animate-float"
        src={hero}
        alt="Estudiantes del colegio 89007"
        loading="eager"
        format="webp"
      />
    </figure>
  </div>
</section>

<style>
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
</style>
