---
import ComplaintsBookLayout from "@layouts/ComplaintsBookLayout.astro";
import SectionContainer from "@components/ui/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
import ClaimsForm from "@components/claims/ClaimsForm";
---

<ComplaintsBookLayout>
  <SectionContainer background="#039fcf">
    <Container>
      <div class="w-full">
        <header class="w-full flex flex-col items-center mb-8 justify-center">
          <figure class="w-full mb-4 flex justify-center items-center">
            <img class="w-full max-w-[6rem]" src="/logo-89007.png" alt="" />
          </figure>
          <h1 class="font-bold mb-3 text-yellow-400 text-2xl md:text-4xl">
            Libro de Reclamaciones
          </h1>
          <p class="text-base font-medium text-center text-white">
            Mz. C Lte. VI de la Urb. 21 de Abril del distrito de Chimbote
          </p>
        </header>
        <div class="bg-white shadow-xl rounded-xl p-6 md:p-12">
          <ClaimsForm />
        </div>
      </div>
    </Container>
  </SectionContainer>
</ComplaintsBookLayout>
