---
import SectionContainer from "@uiComponents/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
---

<SectionContainer background="white">
  <Container>
    <span class="block w-30 h-[10px] bg-89007"></span>
    <h2 class="text-2xl pt-4 font-bold text-89007 mb-4 md:text-3xl lg:text-3xl">
      Un espacio para crecer, aprender y soñar
    </h2>
    <p class="text-base">
      En la Institución Educativa N.° 89007 de Chimbote, contamos con una
      infraestructura funcional y acogedora que respalda el desarrollo integral
      de nuestros estudiantes. Nuestras aulas y espacios están diseñados para
      brindar seguridad, comodidad y un entorno propicio para el aprendizaje.
      Mantenemos nuestros ambientes en constante mejora, con el objetivo de
      ofrecer un lugar que fomente la motivación, la participación activa y el
      bienestar de toda la comunidad educativa.
    </p>
  </Container>
</SectionContainer>
