<section class="w-full grid md:grid-cols-2 md:h-auto">
  <div class="w-full p-8 grid place-content-center md:py-30">
    <span class="block w-40 h-[10px] bg-89007"></span>
    <h2 class="font-bold text-89007 text-2xl py-4 md:text-3xl">
      Desarrollo personal y emocional
    </h2>
    <p class="text-base mb-8">
      Contamos con el valioso apoyo de un psicólogo institucional, quien brinda
      orientación psicológica y acompañamiento personalizado a nuestros
      estudiantes. Su labor está centrada en:
    </p>
    <ul class="flex flex-col gap-3 text-base">
      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Atender casos individuales y grupales.
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Promover una sana convivencia escolar.
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Fortalecer la autoestima, la empatía y el respeto mutuo.
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Brindar talleres y charlas para alumnos, padres y docentes.
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Detectar y prevenir situaciones de riesgo emocional, social o familiar.
      </li>
    </ul>
  </div>
  <figure class="w-full h-full md:h-100vh">
    <img
      class="w-full h-auto object-cover md:h-full md:rounded-bl-[16rem]"
      src="https://img2.wallspic.com/crops/6/3/5/2/32536/32536-juventud-curso-comunidad-3840x2160.jpg"
      alt="Desarrollo personal y emocional"
    />
    <figcaption class="sr-only">Desarrollo personal y emocional</figcaption>
  </figure>
</section>

<style>
  li {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1em;
  }
</style>
