---
import SectionContainer from "@uiComponents/SectionContainer.astro";
import { comprehensiveTraining } from "@data/comprehensiveTraining";
import Card from "@uiComponents/Card.astro";
import Container from "@components/ui/Container.astro";
---

<SectionContainer background="white">
  <Container>
    <span class="block w-40 h-[10px] bg-89007"></span>
    <h2 class="font-bold text-89007 pt-4 mb-4 text-2xl md:text-3xl lg:text-3xl">
      Desarrollo físico y artístico
    </h2>
    <p class="text-base mb-8 text-justify">
      La formación integral también abarca el desarrollo del cuerpo y la
      creatividad. Por ello, fomentamos la práctica del deporte, la actividad
      física y la expresión artística a través de:
    </p>
    <div
      class="grid gap-8 grid-cols-1 items-stretch md:grid-cols-2 lg:grid-cols-2"
    >
      {
        comprehensiveTraining.map(({ title, content, url, color }) => (
          <Card title={title} content={content} url={url} color={color} />
        ))
      }
    </div>
  </Container>
</SectionContainer>
