<section class="w-full bg-[#0d326d] grid md:grid-cols-2">
  <div class="w-full p-4 py-12 grid md:place-content-center md:p-8 md-py-12">
    <span class="block w-40 h-[10px] bg-89007"></span>
    <h2 class="text-3xl py-4 uppercase font-bold text-white md:text-4xl">
      Nuestro propósito
    </h2>
    <ul class="flex text-base flex-col gap-3">
      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Brindar una educación integral y de calidad
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Fomentar el desarrollo personal y emocional
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Promover el pensamiento crítico y la autonomía
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Fortalecer la identidad cultural y el amor por su comunidad
      </li>

      <li>
        <svg
          class="shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#039fcf"
            d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
          ></path></svg
        >Impulsar la innovación pedagógica
      </li>
    </ul>
  </div>
  <figure class="w-full md:h-full">
    <img
      class="w-full object-cover md:aspect-[16/11] md:h-full md:rounded-tl-[14rem]"
      src="https://fotografias.larazon.es/clipping/cmsimages01/2019/10/24/4B6A286A-0A4C-4C9E-BFE7-00CF73FD7EC5/98.jpg?crop=2000,1125,x0,y103&width=1900&height=1069&optimize=low&format=webply"
      alt="Nuestro propósito"
    />
  </figure>
</section>

<style>
  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
  }
</style>
