---
import SectionContainer from "@components/ui/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
---

<SectionContainer background="white">
  <Container>
    <div
      class="w-full grid gap-6 lg:grid-cols-[25rem_minmax(0,1fr)] md:gap-0 md:h-auto"
    >
      <figure class="order-2 lg:order-1 md:h-full">
        <img
          class="object-cover shadow-xl rounded-xl md:rounded-none md:h-full"
          src="https://scalalearning.com/wp-content/uploads/2023/08/GSS_CREATIVIDAD_SCALA_ARTE_ARTICULO_64_Comunicacion-entre-docentes-universitarios-y-estudiantes-02.png"
          alt="Creación del colegio"
        />
      </figure>
      <div class="order-1 md:p-8 lg:order-2">
        <span class="block w-40 h-[10px] bg-89007"></span>
        <h2 class="text-3xl py-4 font-bold uppercase text-black md:text-4xl">
          Creación del <span class="text-89007">colegio</span>
        </h2>
        <div class="text-base text-[#706b66] text-justify flex flex-col gap-4]">
          <p>
            En 1966, nuestra fundadora, motivada por brindar una educación
            bilingüe desde los primeros años de estudio, estableció lo que hoy
            llamamos «Nido Casuarinas». Este espacio no solo brindó atención a
            los niños pequeños, sino que también marcó el inicio de nuestra
            trayectoria educativa.
          </p>
          <p>
            Con el tiempo, se reconoció la necesidad de ofrecer a estos niños
            una continuación en su educación más allá de los primeros años. Así,
            en 1982, con un compromiso firme hacia la educación de calidad,
            nació Casuarinas International College.
          </p>
          <p>
            Desde entonces, Casuarinas International College se ha convertido en
            un centro educativo sólido. Nuestra misión de empoderar a los
            estudiantes para que descubran y persigan sus pasiones está
            arraigada en cada parte del colegio. Aquí, no solo impartimos
            lecciones, sino que también cultivamos aspiraciones y fomentamos la
            curiosidad en cada estudiante.
          </p>
        </div>
      </div>
    </div>
  </Container>
</SectionContainer>
