---
import SectionContainer from "@components/ui/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
---

<SectionContainer background="white">
  <Container>
    <div
      class="w-full grid gap-6 lg:grid-cols-[25rem_minmax(0,1fr)] md:gap-0 md:h-auto"
    >
      <figure class="order-2 lg:order-1 md:h-full">
        <img
          class="object-cover shadow-xl rounded-xl md:rounded-none md:h-full"
          src="https://res.cloudinary.com/dezz9ntar/image/upload/f_auto,q_auto,w_800/v1753142726/IMG_20250625_164013_kqniqb.jpg"
          alt="Creación del colegio"
        />
      </figure>
      <div class="order-1 md:p-8 lg:order-2">
        <span class="block w-40 h-[10px] bg-89007"></span>
        <h2 class="text-3xl py-4 font-bold uppercase text-black md:text-4xl">
          Creación del <span class="text-89007">colegio</span>
        </h2>
        <div class="text-base text-[#706b66] text-justify flex flex-col gap-4">
          <p>
            La Institución Educativa N.° 89007, ubicada en la urbanización 21 de
            Abril en Chimbote, fue originada en 1966 como la Escuela de Mujeres
            N.° 3297-A. En 1971, se fusionó con la Escuela de Varones N.° 3151 y
            se les asignaron los números 88019 y 89007. En 1974, ambas fueron
            unificadas oficialmente bajo el nombre C.E. N.° 89007.
          </p>
          <p>
            A lo largo de su historia, ha sido dirigida por diversos docentes,
            destacando el profesor Segundo Orbegozo Luján, quien fue director
            titular hasta 2011. Actualmente, la institución cuenta con una
            infraestructura sólida, 26 docentes de primaria, 3 de inicial,
            docentes especializados, 827 estudiantes y 26 aulas distribuidas en
            varios pabellones.
          </p>
          <p>
            La I.E. N.° 89007 ha logrado importantes avances deportivos,
            culturales y académicos, y es considerada una institución educativa
            de calidad en su comunidad. Hoy está dirigida por el Mg. Erlin Amed
            Robles Aguirre, con el apoyo del Prof. José Carlos Valdivieso Matos
            y la Mg. Leli Gaudencia Rodríguez Sánchez.
          </p>
        </div>
      </div>
    </div>
  </Container>
</SectionContainer>
