<p class="max-w-6xl m-auto text-justify py-12 p-4 text-base">
  En la Institución Educativa N.º 89007, ubicada en la ciudad de Chimbote,
  creemos firmemente que educar no solo implica transmitir conocimientos, sino
  también formar personas íntegras, con valores, autoestima y habilidades para
  la vida. Por ello, nuestra propuesta educativa se fundamenta en una formación
  integral, que promueve el desarrollo de todas las dimensiones del ser humano:
  intelectual, emocional, social, física y ética.
</p>
