.tab-button {
  padding: 0.5rem 2.5rem;
  background: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  color: #039fcf;
}

.tab-button.active {
  background: #039fcf;
  color: white;
}

.tab-content {
  display: none;
  grid-template-columns: 2fr 1fr;
}

.tab-content.visible {
  display: grid;
}

@media (max-width: 1200px) {
  .tab-content {
    display: none;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .tab-content {
    display: none;
    grid-template-columns: 1fr;
  }

  .tab-button {
    padding: 0.5rem 1.5rem;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
