---
import SectionContainer from "@uiComponents/SectionContainer.astro";
import LevelCard from "@components/levels/LevelCard.astro";
import Container from "@components/ui/Container.astro";
---

<SectionContainer background="white">
  <Container>
    <div
      class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2"
    >
      <LevelCard
        url="https://res.cloudinary.com/dezz9ntar/image/upload/f_auto,q_auto,w_800/v1753204893/b8aaa606-fa7c-4fa7-8e15-04e16760615a_lqn8iw.png"
        path="/niveles/educacion-inicial"
        title="inicial"
        text="Educacion Inicial"
        color="#039fcf"
      />
      <LevelCard
        url="https://res.cloudinary.com/dezz9ntar/image/upload/f_auto,q_auto,w_800/v1753204908/d15ca93a-18f5-418f-96c5-cd6c127b44f9_xtmwyx.png"
        path="/niveles/educacion-primaria"
        title="primaria"
        text="Educacion Primaria"
        color="#039fcf"
      />
    </div>
  </Container>
</SectionContainer>
