<article class="w-full grid gap-8 grid-cols-1 md:grid-cols-2">
  <div class="w-full grid place-content-center">
    <span class="block w-20 h-[10px] bg-89007"></span>
    <h2 class="text-2xl font-bold text-89007 py-4 md:text-3xl">Misión</h2>
    <p class="text-base">
      "Brindar una formación que promueva el desarrollo integral de los niños y
      jóvenes líderes, con una visión emprendedora, una sólida educación en
      valores, dominio de la tecnología, e idiomas inglés y francés,
      preparándolos para afrontar altos niveles de competitividad mundial."
    </p>
  </div>
  <figure class="w-full">
    <img
      class="w-full object-cover shadow-xl rounded-xl aspect-square sm:aspect-video md:aspect-square md:shadow-sm md:rounded-bl-[10rem] md:rounded-none"
      src="https://www.orvalle.es/wp-content/uploads/2017/12/como-colocar-a-los-alumnos-en-el-aula-1024x683.jpg"
      alt=""
    />
  </figure>
</article>
