<article class="w-full grid gap-8 grid-cols-1 md:grid-cols-2">
  <figure class="w-full order-2 md:order-1">
    <img
      class="w-full object-cover aspect-square shadow-xl rounded-xl md:aspect-square md:rounded-br-[10rem] md:rounded-none"
      src="https://www.mbaonline.es/images/easyblog_articles/7/b2ap3_large_vision-mision-valores-empresa.jpg"
      alt="Visión de la Institución Educativa N.º 89007"
    />
  </figure>
  <div class="w-full grid place-content-center order-1 md:order-2">
    <span class="block w-20 h-[10px] bg-yellow-400"></span>
    <h2 class="text-2xl font-bold text-yellow-400 py-4 md:text-3xl">Visión</h2>
    <p class="text-base">
      "Al 2022, la I.E. 89007 de la Urb. 21 de Abril, brindan servicio educativo
      de calidad, donde los estudiantes construyen sus aprendizajes en base a la
      indagación y experimentación bajo el enfoque por competencias haciendo uso
      de las TIC para comprender y resolver las situaciones problemáticas de su
      vida diaria. Cuenta con docentes innovadores y capacitados que atienden a
      la diversidad del aula y aplican la evaluación formativa para la toma de
      decisiones oportunas, padres de familia que coadyuvan con la educación de
      sus hijos e hijas, bajo un liderazgo pedagógico eficiente que busca el
      bienestar de la comunidad educativa en un clima de respeto y buen trato
      desarrollado en una institución segura, acogedora, saludable, y
      comprometida con el cuidado del ambiente."
    </p>
  </div>
</article>
