<article class="w-full grid gap-8 grid-cols-1 md:grid-cols-2">
  <figure class="w-full order-2 md:order-1">
    <img
      class="w-full object-cover aspect-square shadow-xl rounded-xl md:aspect-square md:rounded-br-[10rem] md:rounded-none"
      src="https://www.orvalle.es/wp-content/uploads/2017/12/como-colocar-a-los-alumnos-en-el-aula-1024x683.jpg"
      alt=""
    />
  </figure>
  <div class="w-full grid place-content-center order-1 md:order-2">
    <span class="block w-20 h-[10px] bg-yellow-400"></span>
    <h2 class="text-2xl font-bold text-yellow-400 py-4 md:text-3xl">Visión</h2>
    <p class="text-base">
      "Brindar una formación que promueva el desarrollo integral de los niños y
      jóvenes líderes, con una visión emprendedora, una sólida educación en
      valores, dominio de la tecnología, e idiomas inglés y francés,
      preparándolos para afrontar altos niveles de competitividad mundial."
    </p>
  </div>
</article>
