---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/global.css";
//Fonts
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
//
import Header from "@components/ui/header/Header";
import Footer from "@components/ui/footer/Footer.astro";
import WhatsAppButton from "@components/ui/WhatsAppButton";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/logo-89007-v2.png" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <WhatsAppButton client:load />
    <Header client:load />
    <main class="w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    background: #ffffff;
    font-family: "Poppins", sans-serif;
  }
</style>
