---
import "@styles/global.css";

//fonts
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo-89007-2.png" type="image/x-icon" />
    <title>Institución Educativa N.º 89007</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
</style>
