---
interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<section class="w-full py-12 px-6 bg-89007 md:py-16">
  <div
    class="max-w-7xl m-auto grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2"
  >
    <div class="w-full grid place-content-center order-2 md:order-1">
      <div>
        <h1
          class="text-4xl font-bold text-white mb-4 text-center md:text-start lg:text-5xl"
        >
          {title}
        </h1>
        <p class="text-white text-base text-center mb-4 md:mb-0c md:text-start">
          {description}
        </p>
      </div>
    </div>
    <figure class="w-full grid place-content-center order-1 md:order-2">
      <img
        class="w-full rounded-lg aspect-video object-cover shadow-xl animate-float"
        src={url}
        alt={title}
        loading="lazy"
      />
    </figure>
  </div>
</section>

<style>
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
</style>
